/* Reset */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Brush Script MT", cursive, sans-serif;
}

a {
	text-decoration: none;
}

/* Containers */
body {
	background-color: #233D4D;
	color: white;
}

.main-container {
	padding-bottom: 100px; 
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}


#recipes {
	border-bottom: 2px solid white;
	padding: 10px 20px;
	color: white;
	font-weight: bold;
}

.text {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}