/* Reset */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Brush Script MT", cursive, sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
}

/* Containers */
body {
	background-color: #233D4D;
}

